.container {
    display: flex;
    height: 600px;
    width: 100%;
    flex-direction: column;
    background-color: black;
    border: 1px solid black;

    /* column ou row*/
}

.filho1 {
    flex: 1;
    background-color: red;
    display: flex;
    flex-direction: row;
    border: 1px solid black;

}

.neto1-1 {
    background-color: red;
    flex: 1;
    border: 1px solid black;
}

.neto1-2 {
    background-color: yellow;
    flex: 2;
    border: 1px solid black;
}

.neto1-3 {
    background-color: green;
    flex: 1;
    border: 1px solid black;
}

.filho2 {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: pink;
    border: 1px solid black;
}

.neto2-1 {
    background-color: cadetblue;
    flex: 1;
    border: 1px solid black;
}

.neto2-2 {
    background-color: darkcyan;
    flex: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.bis2-1 {
    flex: 1;
    background-color: gray;
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}

.bis2-2 {
    display: flex;
    flex-direction: row;
    background-color: gray;
    flex: 1;
    border: 1px solid red;
}

.tatara1-1 {
    flex: 1;
    background-color: brown;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.tatara1-2 {
    flex: 3;
    background-color: gray;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.tatara2-1 {
    flex: 3;
    background-color: gray;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.tatara2-2 {
    flex: 1;
    background-color: brown;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.filho3 {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: aqua;
    border: 1px solid black;
}

.neto3-1 {
    background-color: purple;
    flex: 2;
    border: 1px solid black;
}

.neto3-2 {
    background-color: dimgray;
    flex: 1;
    border: 1px solid black;
}

.paizao {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.fi-1 {
    background-color: blue;
    height: 100px;
    width: 100px;

}

.fi-2 {
    background-color: red;
    height: 100px;
    width: 100px;
    align-self: flex-end;
}

.ContainerCabecalho {
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ContainerMenorCabecalho {
    background-color: white;
    border: 2px solid black;
    width: 1300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ContainerPrincipalComponentes{
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 
}

.ComponenteBonus {
background-color: white;
height: 100px;
width: 200px;
border: 2px solid black;

}

.ContainerRodape{
    background-color: white;
height: 100PX;
width: 100%;
border: 2px solid black;
position: absolute;
bottom: 0;
display: flex;
}

.ContainerRodape1{
background-color: white;
height: 100PX;
width: 100%;

display: flex;
flex-direction: column;
justify-content: flex-end;
}

.Cabe1{
 flex-direction: column;
 background-color: white;
 justify-content: center;
}

.Cabe2{
display: flex;
flex-direction: row;
justify-content: space-between;
height: 100px;
width: 100%;
background-color: chocolate;
border: 2px solid black;
}

.HomeLink{
    height: 50px;
    width: 70px;
}

.LoginLink{
    height: 50px;
    width: 70px;
}

.CadastroLink{
    height: 50px;
    width: 70px;
}

.cabecalhocanto{
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  
  .Pai-container{
    width: 600px;
    height: 150px;
    background-color: rgb(2, 60, 235);
  }

.Filho-container{
    width: 300px;
    height: 100px;
    background-color: rgb(212, 90, 3);
}